<%_ const path = './..'; _%>
<% const page_id = { id: 'hoge'} %>
<!doctype html>
<html lang="ja">
    <%- include('./components/_head.ejs',{path: path, page: page_id}) %>
    <body>
        <%- include('./components/_header.ejs',{path: path, page: page_id}) %>

        <main class="l-main p-hoge">
            <div class="l-inner">
                <img src="/assets/img/hoge/hoge.jpg" width="300" height="255" alt="image" fetchpriority="high" loading="lazy" decoding="async" />
                <h2>Hoge</h2>
            </div>
        </main>

        <%- include('./components/_footer.ejs',{path: path, page: page_id}) %>
    </body>
</html>
