<% const pageId = 'hoge'; %>
<!doctype html>
<html lang="ja">
    <%- include('./components/_head.ejs',{pageId: pageId}) %>
    <body>
        <%- include('./components/_header.ejs') %>

        <main class="l-main p-hoge">
            <div class="l-inner">
                <img src="/assets/img/hoge/hoge.jpg" width="300" height="255" alt="image" fetchpriority="high" loading="lazy" decoding="async" />
                <h2>Hoge</h2>
            </div>
        </main>

        <%- include('./components/_footer.ejs') %>
    </body>
</html>
