<div class="c-hamburger js-hamburger">
    <div class="c-hamburger__border">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <p class="c-hamburger__menu">menu</p>
</div>
