<header class="l-header">
    <h1>
        <a href="/">
            header
        </a>
    </h1>
    <ul>
        <li>
            <a href="/hoge/">hoge</a>
        </li>
        <li>
            <a href="/news/">news</a>
        </li>
        <li>
            <a href="/news/news-single/">news-single</a>
        </li>
    </ul>
</header>
<%- include('./_hamburger.ejs') %>
<%- include('./_sp-nav.ejs') %>
