<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
    <!-- Files -->
    <% if(pageId === 'index') { %>
    <script type="module" src="/assets/js/index.js"></script>
    <% } else if(pageId === 'about') { %>
    <script type="module" src="/assets/js/about.js"></script>
    <% } else { %>

    <% } %>
    <link rel="stylesheet" href="/assets/styles/style.scss">
</head>
