<nav class="c-sp-nav">
    <ul class="c-sp-nav__list">
        <li>
            <a href="#">Nav01</a>
        </li>
        <li>
            <a href="#">Nav02</a>
        </li>
        <li>
            <a href="#">Nav03</a>
        </li>
        <li>
            <a href="#">Nav04</a>
        </li>
        <li>
            <a href="#">Nav05</a>
        </li>
    </ul>
</nav>
