<% const pageId = 'index'; %>
<!doctype html>
<html lang="ja">
    <%- include('./components/_head.ejs',{pageId: pageId}) %>
    <body>
        <%- include('./components/_header.ejs') %>
        <main class="l-main p-index">
            <div class="l-inner">
                <h2 class="p-index__title">index.html</h2>
                <div class="p-index__jpg">
                    <h3>jpg</h3>
                    <img src="/assets/img/index-jpg.jpg" width="300" height="255" alt="image" />
                </div>
                <div class="p-index__png">
                    <h3>png</h3>
                    <img src="/assets/img/index-png.png" width="300" height="255" alt="image" />
                </div>
                <div class="p-index__link">
                    <a href="./about/">aboutページ</a>
                </div>
            </div>
        </main>
        <%- include('./components/_footer.ejs') %>
    </body>
</html>
